@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  background-color: lightslategray;
  font-family: "Montserrat", "sans-serif";
}

.output {
  background-color: white;
}

ul {
  list-style: none;
}

.active {
  display: flex;
}
