@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  background-color: lightslategray;
  font-family: "Montserrat", "sans-serif";
}

.output {
  background-color: white;
}

ul {
  list-style: none;
}
.joinableRooms {
  list-style: none;
  display: flex;
}

.side {
  display: flex;
}

.card {
  height: 150px;
  /* width: 100px; */
}

.card#deck {
  width: 100px;
}
